<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>reCAPTCHA tests</title>
</head>
<body>
<a href="/v2">reCAPTCHA v2 test</a>
<a href="/v3">reCAPTCHA v3 test</a>
<a href="/login">reCAPTCHA v2+v3 test</a>
</body>
</html>
