<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>reCAPTCHA v2 test</title>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script>
        async function onVerify(token) {
            const data = {}
            for (const [key, val] of new FormData(document.querySelector('form')).entries())
                data[key] = val
            
            const res = await fetch('/v2', {
                method: 'POST',
                body: JSON.stringify(data), // MUST send as a string
                headers: { 'Content-Type': 'application/json' }
            })

            // must convert to string first
            document.querySelector('body').innerHTML = JSON.stringify(await res.json())
        }
    </script>
</head>
<body>
    <form autocomplete="off">
        <label>
            Make a comment:
            <textarea name='comment' autofocus></textarea>
        </label>
        <button class="g-recaptcha" data-sitekey="{{V2_PUBLIC}}" data-callback="onVerify">
            Submit
        </button>
    </form>
</body>
</html>
